@import "../global.scss";
@import "../settings/_index.scss";

.footer{
    background-color: $dark-grey;
    color: $white;
    padding: 115px 0 35px;
    line-height: 24px;

  @include media('<=1023px'){
    padding: 60px 0 25px;
  }

  h2{
    font-family: $ralew_bold;
    font-size: 22px;
    line-height: 24px;
    margin:0 0 30px 0;

    @include media('<=540px'){
      font-size: 18px;
    }

    @include media('<=437px'){
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

    @include media('<=540px'){
      font-size: 16px;
    }

    @include media('<=437px'){
      font-size: $f-size-base;
    }
  }

  .col {
    &-4{
      @include media('>=1024px'){
        width: 25%;
      }

      @include media('<1024px'){
        width: 50%;
        margin-bottom: 85px;
      }

      @include media('<=768px'){
        margin-bottom: 50px;
      }
    }

  }

  .row{
    margin-bottom: 95px;

    @include media('<1024px'){
      padding-left: 100px;
      margin-bottom: 0;
    }

    @include media('<=700px'){
      padding-left: 50px;
    }

    @include media('<=600px'){
      padding-left: 25px;
    }

    @include media('<=366px'){
      padding-left: 0;
    }
  }

  .footer-line{
    height: 3px;
    width: 51px;
    background-color: $green;
    margin-bottom: 35px;

    @include media('<1024px'){
      margin-bottom: 20px;
    }
  }

  i{
    color: $green;
  }

  .footer_text{
    color: #b7c3c8;
    margin-bottom: 35px;

    @include media('<1024px'){
      padding-right: 40px;
      margin-bottom: 25px;
    }

    @include media('<=550px'){
      padding-right: 20px;
      font-size: 13px;
      line-height: 16px;
    }

    @include media('<=420px'){
      padding-right: 10px;
    }
  }

  .footer_address{
    margin-bottom: 30px;

    @include media('<1024px'){
      margin-bottom: 15px;
      padding-right: 155px;
    }

    @include media('<=890px'){
      padding-right: 40px;
    }

    @include media('<=335px'){
      padding-right: 20px;
    }

  }

  .footer_address,
  .footer-phone{
    font-family: $lato;
    font-size: $f-size-base;
    position: relative;

    @include media('<=841px'){
      font-size: 10px;
    }

    @include media('<=420px'){
      font-size: 8px;
    }

    .icon-footer{
      top: 2px;
      left: 0;
      position: absolute;

      i{
        font-size: 18px;

        @include media('<=841px'){
          font-size: $default-font;
        }
      }
    }

  }

  .contact-text{
    padding-left: 30px;

    @include media('<=841px'){
      padding-left: 20px;
    }

    address{
      font-style: normal;

      @include media('<=540px'){
        line-height: 15px;
      }
    }

  }

  .footer-list{

    li{
      color: #b7c3c8;
      line-height: 36px;

      @include media('<=550px'){
        line-height: 24px;
        font-size: 13px;
      }

      @include media('<=550px'){
        font-size: 11px;
      }

      a{
        padding-left: 10px;

        @include media('<=341px'){
          padding-left: 5px;
        }
      }

      &:hover{
        color: $white;
      }
    }
  }

  .footer-social{

    margin-bottom: 40px;

    @include media('<=841px'){
      margin-bottom: 25px;
    }

    .facebook-social, .twitter-social,
    .youtube-social, .pinterest-social,
    .linkedin-social{
      border-radius: 4px;
      position: relative;
      height: 27px;
      width: 27px;
      background-color: #fff;
      margin-right: 10px;

      @include media('<=841px'){
        height: 20px;
        width: 20px;
      }

      @include media('<=385px'){
        height: 15px;
        width: 15px;
      }

      i{
        font-size: 33px;
        position: absolute;
        top: -3px;
        left: -1px;
        color: #3b5998;

        @include media('<=841px'){
          font-size: 26px;
        }

        @include media('<=385px'){
          font-size: 20px;
        }
      }

      &:hover{
        opacity: .5;
      }

    }

    .twitter-social{

      i{
        color: #55acee;
      }
    }

    .youtube-social{
      i{
        color: #e52d27;
      }
    }

    .pinterest-social{

      height: 28px;
      width: 28px;

      @include media('<=841px'){
        height: 21px;
        width: 21px;
      }

      @include media('<=385px'){
        height: 16px;
        width: 16px;
      }

      i{
        top: 3px;
        left: 3px;
        font-size: 22px;
        color: #c32032;

        @include media('<=841px'){
          font-size: 16px;
        }

        @include media('<=385px'){
          font-size: 12px;
          top: 2px;
          left: 2px;
        }
      }
    }

    .linkedin-social{

      i{
        color: #1565c0;
      }
    }
  }

  form{
    width: 261px;
    height: 40px;
    box-shadow: 0 -0.5px 0 0.5px $black;

    @include media('<=1105px'){
      width: 180px;
    }

    @include media('<=841px'){
      width: 140px;
      height: 30px;
    }

    @include media('<=375px'){
      width: 125px;
      height: 25px;
    }

    input{
      outline: none;
      width: 218px;
      background-color: #2f3c43;
      border: none;
      font-size: $f-size-base;
      color: #697378;
      padding-left: 15px;

      @include media('<=1105px'){
        width: 137px;
      }

      @include media('<=841px'){
        width: 110px;
        font-size: 11px;
      }

      @include media('<=375px'){
        width: 100px;
      }
    }

    button{

      width: 43px;
      height: 40px;
      background-color: $green;
      position: relative;

      @include media('<=841px'){
        height: 30px;
        width: 30px;
      }

      @include media('<=375px'){
        width: 25px;
        height: 25px;
      }

      i{
        position: absolute;
        top: 10px;
        left: 10px;
        color: $white;
        font-size: 20px;

        @include media('<=841px'){
          font-size: $f-size-base;
        }

        @include media('<=375px'){
          top:5px;
          left: 5px;
        }
      }
    }
  }

  .footer-copyright{

    border-top:1px solid #424d53;

    div{
      padding-top: 25px;
      color: #919699;

      @include media('<=841px'){
        font-size: 12px;
      }

      @include media('<=600px'){
        font-size: 10px;
      }

      @include media('<=600px'){
        font-size: 8px;
      }

      @include media('<=375px'){
        font-size: 6px;
      }
    }

  }


}