@import "../global.scss";
@import "../settings/_index.scss";

body {
    margin: 0 8px;
}

.header-flex {
    height: 1.7%;
}

.btn-default {
    font-size: $f-size-base;
    line-height: $line-height-base;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    border-color: transparent;
    margin: 0 2px;
}

.btn-header1 {
    color: $white;
    background-color: $btn-green-bg;
    font-family: $rob_regular;
    font-size: $f-size-base;

    &:hover {
        background-color: $btn-green-bg-hover;
    }
}

.btn-header2 {
    color: $white;
    background-color: $btn-red-bg;
    font-family: $rob_regular;
    font-size: $f-size-base;

    &:hover {
        background-color: $btn-red-bg-hover;
    }
}

.btn-icon {
    background-color: #f5f5f5;
    color: #a0a0a0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: transparent;
    margin: 0 24px;
}

.help {
    font-size: $f-size-base;
    line-height: $line-height-base;
    margin: 0 26px;
    font-family: $rob_regular;
    color: #546e7a;

    &-a {
        color: $btn-red-bg;

        &:hover {
            color: $btn-red-bg-hover;
        }
    }
}

.nav {
    background-color: $nav-color2;
    padding: 0 19.3%;
    margin: 0 auto;
    height: 60px;

    li {
        color: $white;
        margin: 0 20px;
        font-size: $f-size-base;
        line-height: $line-height-base;
        font-family: $rob_regular;

        &:hover {
            color: $nav-color-hover;
        }
    }
}

.banner-search {
    height: 532px;
    background-image: url('../../img/header-bg.jpg');
    color: $white;

    &_title {
        font-size: $f-size-h1;
        font-family: $rob_bold;
        font-weight: 700;
    }

    &_text {
        margin: 35px 0 57px;
        font-family: $rob_regular;
        font-size: 20px;
    }
}

.search-bar {
    img {
        position: absolute;
        top: 433px;
        right: 420px;
    }

    .banner-search_bar {
        width: 670px;
        height: 56px;
        padding: 0 20px 0 25px;
        border-radius: 3px;
        border-color: transparent;
        box-shadow: 0 1px 10px rgba(100, 100, 100, 0.75);
        font-family: $rob_regular;
        font-size: $f-size-base;
        
        &:focus,
        &:active {
            box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
            outline: none;
        }
    }
}