@import "../global.scss";
@import "../settings/_index.scss";

body {
    margin: 0 8px;
}

.header-flex {
    height: 1.7%;
}

.btn-default {
    font-size: $f-size-base;
    line-height: $line-height-base;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    border-color: transparent;
    margin: 0 2px;

    @include media('<=768px'){
        width: 65px;
    }

    @include media('<=530px'){
        height: 25px;
        font-size: 12px;
    }

    @include media('<=500px'){
        font-size: 10px;
    }
}

.btn-header1 {
    color: $white;
    background-color: $btn-green-bg;
    font-family: $rob_regular;

    &:hover {
        background-color: $btn-green-bg-hover;
    }
}

.btn-header2 {
    color: $white;
    background-color: $btn-red-bg;
    font-family: $rob_regular;

    &:hover {
        background-color: $btn-red-bg-hover;
    }
}

.btn-icon {
    background-color: #f5f5f5;
    color: #a0a0a0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: transparent;
    margin: 0 24px;

    @include media('<=681px'){
        margin: 0 10px;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    @include media('<=530px'){
        margin: 0 5px;
        font-size: 10px;
    }
}

.help {
    font-size: $f-size-base;
    line-height: $line-height-base;
    margin: 0 26px;
    font-family: $rob_regular;
    color: #546e7a;

    @include media('<=900px'){
        font-size: 12px;
        margin: 0;
    }

    @include media('<=768px'){
        font-size: 11px;
    }

    @include media('<=681px'){
        font-size: 9px;
    }

    @include media('<=530px'){
        font-size: 8px;
        padding-left: 93px;
    }

    &-a {
        color: $btn-red-bg;

        &:hover {
            color: $btn-red-bg-hover;
        }
    }
}

.nav {
    background-color: $nav-color2;

    margin: 0 auto;
    height: 60px;

    li {
        color: $white;
        margin: 0 20px;
        font-size: $f-size-base;
        line-height: $line-height-base;
        font-family: $rob_regular;

        @include media('<=900px'){
            margin: 0 10px;
        }

        &:hover {
            color: $nav-color-hover;
        }
    }
}