@import "../global.scss";
@import "../settings/_index.scss";
@import "../block/_header.scss";
@import "../block/_footer.scss";

%list-reset{
  list-style: none;
}

h2{
  font-family: $rob_bold;
  font-weight: 700;
  font-size: $f-size-h1;
  margin-bottom: 60px;
}

.tabs-list{
  @extend %list-reset;
}

.product{
  &-section{
    padding: 115px 0;
    background-color: #f4f6f5;
  }

  &-description{
    padding: 30px;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name{
    font: 500 18px $rob_medium;
    display: block;
    margin: 0 0 15px;
  }

  &-category{
    font-size:14px;
    color:$green;
  }

  &-reiting{
    padding: 20px 30px;

    .vendor-item{

      .img-holder {
        overflow: hidden;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 14px;
        background-color: #b5b5b5;
      }

      span{
        color: #546e7a;
        font-size: 14px;
      }
    }

    &_holder{

      .icon-holder{
        margin-right: 14px;
      }
    }

    &_text{
      position: relative;
      font-size: 12px;

      &:before{
        content: '(';
        color: #b0bec5;
      }

      &:after{
        content: ')';
        color: #b0bec5;
      }
    }
  }

}

  .tabs-list{

    @extend %list-reset;
    margin: 0 0 30px;

    li{
      padding: 0 3px;

      @include media('<=tablet') {
          margin-bottom: 6px;
      }

      &.active{
        a{
          outline: none;
          font: 500 14px $rob_medium;
          background-color: $red;
          color: $white;
        }
      }
    }
    a{
      @include animate(color backgraund-color);
      display: block;
      padding: 10px 30px;
      background-color: $white;
      color: $dark_grey;

      &:hover{
        background-color: #da6e63;
        color: $white;
      }
    }
  }

  .tabs-block{
    padding: 30px 0;
  }

.tab-col{
  @include animate(box-shadow);

  border: 1px solid #e7ecf2;
  background-color: $white;
  margin: 0 0 30px;
  cursor: pointer;

  &:hover{
    box-shadow: 0 15px 15px -7px #ccc;
  }

  &.hot-product{
    position: relative;

    &:before{
      @include triangle(65px, $green, up-left);

      position: absolute;
      content: "";
      display: block;
      top:0;
      left: 0;
      
    }

    &:after {
        position: absolute;
        color: #fff;
        display: inline-block;
        content: '\f0e7';
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        top: 14px;
        left: 14px;
        color: $white;
    }
  }

  .img-holder{
    height: 250px;
    background-color: $grey;
  }
}

.breadcrumbs {
    &-holder {
        width: 100%;
        padding: 50px 15px 0;
        margin: 0 0 40px;
    }

    &-nav {
        &_list {
            margin: 0 -10px;

            li {
                position: relative;
                padding: 0 10px;

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                &:after {
                    position: absolute;
                    content: '-';
                    top: 50%;
                    transform: translateY(-50%);
                    right: -4px;
                    color: $green;
                }
            }
        }
    }
}

.aside {
  @include animate(opacity visibility transform);

    padding: 0 15px;
    width: 300px;

    @include media('<1024px'){
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f4f6f5;
      overflow: hidden;
      height: 100vh;
      padding: 25px 15px;
      box-shadow: 0 1px 10px rgba(100, 100, 100, 0.75);
      z-index: 10;
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
    }

    &-title {
      display: block;
      padding: 0 0 20px;
      border-bottom: 1px solid #dde3e8;
    }

    &-close {
      display: none;
      position: absolute;
      border: none;
      background-color: transparent;
      top: 5px;
      right: 15px;
      width: 20px;
      height: 20px;
      outline: none;
      cursor: pointer;
      
      @include media('<1024px'){
        display: block;
      }
    }

    &-opener {
      display: none;
      position: fixed;
      cursor: pointer;
      top: 100px;
      left: 0;
      width: 50px;
      height: 50px;
      box-shadow: 0 1px 10px rgba(100, 100, 100, 0.75);
      z-index: 9;

      @include media('<1024px'){
        display: block;
      }
    }

    .active-aside & {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
}

.bg-white {
    background-color: #fff;
    padding: 25px 30px;
    margin: 0 0 30px;
}

.products {
    &-holder {
        padding: 0 15px;
        width: calc(100% - 300px);

        .sorts-holder {
            width: 100%;
        }
    }
}

.range {
  &-slider {
    &-wrap {
      padding: 41px 0;
      

      .irs {
        &-bar {
          top: 0;
          height: 5px;
          background-color: #37474f;
        }

        &-line {
          height: 5px;
          background-color: #f2f5f8;
        }

        &-from,
        &-to {
          top: 20px;
          color: #78909c;
          font-size: $default-font;

          &:before {
            position: absolute;
            content: '';
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 3px solid $green;
            top: -25px;
            z-index: 10;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}