@import "../global.scss";
@import "../settings/_index.scss";
@import "../block/_header.scss";
@import "../block/_footer.scss";

%list-reset{
  list-style: none;
}

.tabs-list{
    @extend %list-reset;
  }

.product-details_section {
    background-color: #f4f6f5;
  
    .products-holder {
      padding: 0 15px;
      width: calc(100% - 300px);
    }
  
    .img-holder {
      background-color: #fff;
      width: 829px;
      height: 422px;
      margin-bottom: 40px;
  
      .img {
        background-color: #d4d4d4;
        overflow: hidden;
        margin: 20px;
        width: 789px;
      height: 382px;
      }
    }
  
    .text-holder{
  
      h2 {
        font-size: $f-size-h2;
        margin-bottom: 25px;
      }
  
      .product-description {
        margin-bottom: 45px;
      }
  
      .btn {
        height: 50px;
        color: $light-grey;
        margin: 0 9px 55px;
  
      &-red {
        width: 138px;
        height: 50px;
        background-color: $red;
      }
  
      &-marengo {
        width: 158px;
        height: 50px;
        background-color: $marengo;
      }
  
      &-green {
        width: 158px;
        height: 50px;
        background-color: $green;
      }
    } 
  }
  
  .product-tab {
    @extend %list-reset;
    width: 870px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  
    li {
      width: calc(100%/4);
      color: #70838d;
      border: 1px solid #d7d7d7;
  
      &:hover {
        color: $dark-grey;
        border-bottom: 3px solid $green;
      }
    }
  }
  .tab-text {
    padding: 35px;
    border: 1px solid #d7d7d7;

    i {
        color: $green;
        padding: 0 15px;
        font-size: 16px;
        line-height: 36px;
    }
  }
}