@import "../settings/_index.scss";
@import "../block/_header.scss";
@import "../block/_footer.scss";
@import "../global.scss";


label:not(.content-none) {

    &::after {
        position: absolute;
        content: "*";
        color: #8bc34a;
        width: 8px;
        height: 8px;
        transform: translate(50%, -50% );
    }

}
.btn-submit {
    height: 46px;
    width: 124px;
    background-color: #8bc34a;
    color: #fff;
    margin: 43px 0 68px 0;

    &:hover {
        background-color: #7af2d4;
    }
}


.main-form {
    width: 100%;
    border: 1px solid #dcdcdc;
    margin-bottom: 107px;
}

.container-form {
    margin: 0 auto;
    max-width: 1075px;
    
}

.field {

    font-size: 15px;
    
    & + & {
      margin-top: 24px;
    }


}

.field-label-place-big {
    padding-top: 13px;
    height: 148px;
}



.text-main {
    font-family: $rob_medium;
    padding: 20px 33px 25px 33px;
    font-size: 24px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 44px;
}

.text-main_bottom {
    font-size: 24px;
    border-bottom: 1px solid #dcdcdc;
    font-family: $rob_medium;
    padding: 71px 33px 18px 33px;
    margin-bottom: 44px;
}

input, textarea {
    background-color: #f9f9f9;
    outline: none;
    border: 1px solid #dcdcdc;
    height: 38px;
    width: 900px;
    padding-left: 18px; 
}

textarea { 
    resize: none; 
}

.field-label_text_icon i {
    position: absolute;
    top: 14px;
    right: px;
    right: 18px;
    transform: translateX(-50%);
    width: 9px;
    height: 6px;
    color: #444444;
}

.inputfile {
	width: 89px;
	height: 26px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
}

.inputfile + label {
    display: inline-block;
    border: 1px solid #dcdcdc;
    padding: 7px 14px;
}

.field-file {
    width: 84%;
    padding: 7px;
    border: 1px solid #dedede;
    background-color: #f9f9f9;

    &_span {
        margin-left: 17px;
    }
}
