@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/reset-css/reset";
@import "settings/_index.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $rob_regular, sans-serif;
    color: $dark-grey;
    background-color: $white;
    font-size: $default-font;
}

h2{
    font: 700 $f-size-h2 $rob_bold;
    margin-bottom: 60px;

    @include media('<=768px'){
        font-size: 30px;
        margin-bottom: 40px;
    }

    @include media('<=660px'){
        font-size: 25px;
        margin-bottom: 30px;
    }

    @include media('<=550px'){
        font-size: 22px;
    }

    @include media('<=484px'){
        font-size: 20px;
    }
}

h3{
    font: 500 $f-size-h3 $rob_medium;

    @include media('<=900px'){
        font-size: 20px;
    }

    @include media('<=788px'){
        font-size: 19px;
    }

    @include media('<=750px'){
        font-size: 17px;
    }
}

.main{
    background-color: #f4f6f5;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.row {
    margin: 0 -15px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    padding: 0 15px;

    &-4{
        width: calc(100% / 4);

        @include media('<=1024px'){
            width: calc(100% / 3);
        }

        @include media('<=768px'){
            width: 50%;
        }

        @include media('<=700px'){
            width: 100%;
        }
    }

    &-3{
        width: calc(100%/3);

        @include media('<=768px'){
            width: 50%;
        }

        @include media('<=700px'){
            width: 100%;
        }
    }

    &-2{
        width: 50%;

        @include media('<=700px'){
            width: 100%;
        }
    }
}

.d-f{
    display: flex;
}

.fw-w{
    flex-wrap: wrap;
}

.jc-c{
    justify-content: center;
}

.p-r{
    position: relative;
}

.jc-sb{
    justify-content: space-between;
}

.jc-fs{
    justify-content: flex-start;
}

.jc-fe{
    justify-content: flex-end;
}

.fd-c{
    flex-direction: column;
}

.ai-c{
    align-items: center;
}

.text-center{
    text-align: center;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    &-fluid{
        max-width: 100%;
    }
}

