@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/reset-css/reset";
@import "settings/_index.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $rob_regular;
    color: $dark-grey;
    background-color: $white;
}

.main {
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.row {
    margin: 0 -15px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}


.p-r {
    position: relative;
}
.col {
    padding: 0 15px;
}

.col-4{
    width: calc(100% / 4);


    @include media("<=1024px") {
        width: calc(100% / 3);

    }

    @include media("<=768px") {
        width: 50%;
    }

    @include media("<=700px") {
        width: 100%;
    }
}

.d-f{
    display: flex;
}

.fw-w{
    flex-wrap: wrap;
}

.jc-c{
    justify-content: center;
}

.jc-sb{
    justify-content: space-between;
}

.jc-fs{
    justify-content: flex-start;
}

.fd-c{
    flex-direction: column;
}

.jc-fe {
    justify-content: flex-end;
}

.ai-c{
    align-items: center;
}

.ai-b {
    align-items: baseline;
}

.text-center{
    text-align: center;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    &-fluid{
        max-width: 100%;
    }
}

.login {
    &-form {
        max-width: 400px;
        margin: 0 auto;

        &_popup {
            background-color: #8bc34a;
            padding: 90px;
            position: relative;
            z-index: 1;
        }

        .input-holder {
            width: 100%;
            position: relative;

            input {

                width: 100%;
                background-color: #8bc34a;
                border: none;
                height: 42px;
                padding: 10px 40px;


            }

        }

    }

    &-title {
        display: block;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 42px;
    }
}

.ui-dialog {
    position: fixed !important;

    &::before {
        position: fixed;
        content: "";
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,50%);
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: .6;
        z-index: -1;


    }

    .ui-button-icon_only {
        font-size: 0 !important;
        line-height: 0 !important;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 2px;
        z-index: 2;

        .ui-button-icon-space {
            display:inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1 !important;
            font-size: 16px !important;
            font-family: Font Awesome

        }
    }
}


