@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/reset-css/reset";
@import "settings/_index.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $rob_regular, sans-serif;
    color: $dark-grey;
    background-color: $white;
    font-size: $default-font;
}

h2{
    font: 700 $f-size-h2 $rob_bold;
    margin-bottom: 60px;

    @include media('<=768px'){
        font-size: 30px;
        margin-bottom: 40px;
    }

    @include media('<=660px'){
        font-size: 25px;
        margin-bottom: 30px;
    }

    @include media('<=550px'){
        font-size: 22px;
    }

    @include media('<=484px'){
        font-size: 20px;
    }
}

h3{
    font: 500 $f-size-h3 $rob_medium;

    @include media('<=900px'){
        font-size: 20px;
    }

    @include media('<=788px'){
        font-size: 19px;
    }

    @include media('<=750px'){
        font-size: 17px;
    }
}

.main {
    background-color: $light-grey;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.row {
    margin: 0 -15px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    padding: 0 15px;

    &-4{
        width: calc(100% / 4);

        @include media('<=1024px'){
            width: calc(100% / 3);
        }

        @include media('<=768px'){
            width: 50%;
        }

        @include media('<=700px'){
            width: 100%;
        }
    }

    &-3{
        width: calc(100%/3);

        @include media('<=768px'){
            width: 50%;
        }

        @include media('<=700px'){
            width: 100%;
        }
    }

    &-2{
        width: 50%;

        @include media('<=700px'){
            width: 100%;
        }
    }
}

.d-f{
    display: flex;
}

.fw-w{
    flex-wrap: wrap;
}

.jc-c{
    justify-content: center;
}

.p-r{
    position: relative;
}

.jc-sb{
    justify-content: space-between;
}

.jc-fs{
    justify-content: flex-start;
}

.jc-fe{
    justify-content: flex-end;
}

.fd-c{
    flex-direction: column;
}

.ai-c{
    align-items: center;
}

.text-center{
    text-align: center;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    &-fluid{
        max-width: 100%;
    }
}

.btn{
    &-form{
        display: block;
        color: $black;
        background-color: $white;
        border: none;
        font-size: 14px;
        padding: 15px 20px;
        width: 140px;
        text-align: center;
        margin: 10px;
    }

    &-creat{
        display: block;
        position: relative;
        width: calc(100% - 150px);
        background-color: #76ae36;
        color: $white;
        font-size: 14px;
        text-align: center;
        padding: 16px 20px;

        i{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left: 35px;
            color: inherit;
        }
    }
}

.login{
    &-form{
        max-width: 400px;
        margin: 0 auto;
        &_popup{
           background-color: $green;
           padding: 90px;
            position: relative;
            z-index: 1;
        }

        .input-holder{
            width: 100%;
            position: relative;
            margin-bottom: 10px;

            input{
                @include placeholder{
                    color: $white;
                }

                width: 100%;
                background-color: #76ae36;
                border: none;
                height: 42px;
                padding: 10px 40px;
                color: $white;
                outline: none;
            }

            i{
                position: absolute;
                left: 15px;
                top:50%;
                transform: translateY(-50%);
                color: $white;
            }
        }
    }

    &-title{
        display: block;
        text-transform: uppercase;
        color: $white;
        font-size: 48px;
        text-align: center;
    }
}

.ui-dialog{
    position: fixed !important;
    outline: none;

    &:before{
        position: fixed;
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        background-color: $black;
        opacity: .6;
        z-index: -1;
    }

    .ui-button-icon-only{
        font-size: 0 !important;
        line-height: 0 !important;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        color: $white;
        position: absolute;
        top: 20px;
        right: 2px;
        z-index: 2;
        cursor: pointer;

        .ui-button-icon-space{
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1 !important;
            font-size: 16px !important;
            font-family:"Font Awesome 5 Free";
            font-weight: 900;
            color: $white;

            &:before{
                content: "\f00d";
            }
        }
    }
}