@import "../settings/_variables.scss";

@font-face {
	font-family: 'lato-semibold';
	src: url("../../../src/fonts/lato-semibold/lato-semibold-webfont.woff") format('woff'),
		 url("../../../src/fonts/lato-semibold/lato-semibold-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'opensans-semibold';
	src: url("../../../src/fonts/opensans-semibold/opensans-semibold-webfont.woff") format('woff'),
	url("../../../src/fonts/opensans-semibold/opensans-semibold-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'raleway-bold';
	src: url("../../../src/fonts/raleway-bold/raleway-bold-webfont.woff") format('woff'),
	url("../../../src/fonts/raleway-bold/raleway-bold-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'roboto-bold';
	src: url("../../../src/fonts/roboto-bold/roboto-bold-webfont.woff") format('woff'),
	url("../../../src/fonts/roboto-bold/roboto-bold-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'roboto-light';
	src: url("../../../src/fonts/roboto-light/roboto-light-webfont.woff") format('woff'),
	url("../../../src/fonts/roboto-light/roboto-light-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'roboto-medium';
	src: url("../../../src/fonts/roboto-medium/roboto-medium-webfont.woff") format('woff'),
	url("../../../src/fonts/roboto-medium/roboto-medium-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'roboto-regular';
	src: url("../../../src/fonts/roboto-regular/roboto-regular-webfont.woff") format('woff'),
	url("../../../src/fonts/roboto-regular/roboto-regular-webfont.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

