// --------------------- Colors

$white: #fff;
$red: #e74c3c;
$black: #000;
$dark-grey:#263238;
$green:#8bc34a;
$orange:#ffa726;
$grey:#d4d4d4;
$light-grey:#f4f6f5;

//Fonts

$default-font:15px;

$rob_medium:'Roboto-medium';
$rob_regular:'Roboto-regular';
$rob_bold:'Roboto-bold';
$lato: 'Lato-Semibold';

$font-type: ($rob_bold, $rob_medium, $rob_regular, $lato);