// --------------------- Colors

$white: #fff;
$red: #e74c3c;
$black: #000;
$dark-grey:#263238;
$green:#8bc34a;
$orange:#ffa726;
$grey:#d4d4d4;
$light-grey:#f4f6f5;

//Fonts

$default-font:15px;

$rob_medium:'roboto-medium', sans-serif;
$rob_regular:'roboto-regular', sans-serif;
$rob_bold:'roboto-bold', sans-serif;
$rob_light:'roboto-light', sans-serif;
$lato: 'lato-semibold', sans-serif;
$ralew_bold: 'raleway-bold', sans-serif;
$op-semibold: 'opensans-semibold', sans-serif;

